@font-face{
    font-family: RockSalt;
    src: url("RockSalt-Regular.ttf");
}

h1{
    font-family: RockSalt;
    position: absolute;
    z-index: 2;
}
#backButton{
    color: white;
    background-color: #1E1E1E;
    border: none;
    font-size: 446%;
    transition: all .2s ease-in-out;
    position: absolute;
    top:4%;
    left: 4%;
}
#backButton:hover{

    cursor: pointer;
    transform: scale(0.8);
}

* {
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "JetBrains Mono", monospace;
    background-color: #1E1E1E;
}

/* Book */
.book {
    position: relative;
    margin: auto;
    width: 65%;
    height: 125%;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 85%;
    height: 90%;
    top: -10%;
    left: 25%;
    perspective: 1500px;

}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1%;
    left: 1%;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 3;
    backface-visibility: hidden;
    border-left: 3px solid #1E1E1E;
}

.back {
    z-index: 1;
}


.FrontPage,.BackPage{
    width: 65%;
    height: 85%;
    transform: scaleX(-1);
    object-fit: fill;
    position: relative;
    top: 3%;
    left: 2%;
}
.art{

    height: auto;
    width: 500px;
    position: absolute;
    object-fit: contain;
    z-index: 2;
    top: 50%;
    left: 50%;
}
#front,#back,#em,#emB{
    width: 70%;
    height: 90%;
    object-fit: fill;
    align-self: center;
    position: absolute;

}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
#prev,#next {
    position: absolute;
    top:20%;
    z-index: 1000;
    font-size: 350%;
    padding: 10% 20%;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#prev{
    left: 7%;
}
#next{
    right:-2%;
}