@font-face{
    font-family: RockSalt;
    src: url("RockSalt-Regular.ttf");
}

h1{
    font-family: RockSalt;
    position: absolute;
    z-index: 2;
}
#backButton{
    color: white;
    background-color: #1E1E1E;
    border: none;
    font-size: 64px;
    transition: all .2s ease-in-out;
    position: absolute;
    top:13px;
    left: 55px;
}
#backButton:hover{

    cursor: pointer;
    transform: scale(0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "JetBrains Mono", monospace;
    background-color: #1E1E1E;
}

/* Book */
.book {
    position: relative;
    margin: auto;
    width: 700px;
    height: 900px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 3;
    backface-visibility: hidden;
    border-left: 3px solid #1E1E1E;
}

.back {
    z-index: 1;
}


.FrontPage,.BackPage{
    width: 625px;
    height: 825px;
    transform: scaleX(-1);
    object-fit: fill;
    position: relative;
    top: 34px;
    left: 37px;
}
.art{

    height: auto;
    width: 500px;
    position: absolute;
    object-fit: contain;
    z-index: 2;
    top: 50px;
    left: 50px;
}
#front,#back,#em,#emB{
    width: 700px;
    height: 900px;
    object-fit: fill;
    align-self: center;
    position: absolute;

}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
#prev,#next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1000;
    font-size: 50px;
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#prev{
    left: 350px;
}
#next{
    right:350px;
}