* {
    box-sizing: border-box;
    background-color: #1E1E1E;
}
.container{
    overflow: hidden;
    position: relative;
}
body{
    opacity: 0;
    transition: opacity .5s;
}
header{
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 4vw;
}

.Wrapper{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5%;
    padding-right: 20%;
}
#nav{
    display: inline-block;
    text-align: right;
    font-size: 3vw;
    font-family: "JetBrains Mono", monospace;
    color: white;
}



.dropdown{
    position: relative;
}

.dropdownContent{
    /*display: none;*/
    font-size: 2vw;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out, max-height 0.2s ease, transform 0.2s ease-in-out;

}
.dropdownContent:hover{
    text-decoration: underline;
    transform: scale(0.95)
}
.dropdown:hover .dropdownContent{
    /*display: block;*/
    cursor: pointer;
    opacity: 1;
    max-height:100%;

}

.clickLink{
    transition: all .2s ease-in-out;
    display: inline-block;
}
.clickLink:hover, .clickLink:hover span{
    text-decoration: underline;
    transform: scale(0.9);
    cursor:pointer;
}


.images{
    display: inline-block;
    position: relative;
    margin-left: 45%;
    width: 50%;
    height: auto;
    overflow: visible;
}
.images img{
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
}

.base{
    z-index: 5;
}

.pupils{
    z-index: 6;
}
.clone{
    display: none;
}

.fuzzyOverlay{
    position: absolute;
    inset: -200%;
    background-image: url("white-noise-screen.png");
    opacity: 2%;
    z-index: 10;
    pointer-events: none;

    animation: shift 0.2s linear infinite both;
}

.lines{
    position: absolute;
    inset: -200%;
    background-image: url("1.png");
    background-size: cover;
    opacity: 5%;
    z-index: 11;
    pointer-events: none;

    animation: shift 1.5s linear infinite forwards;
}

@keyframes shift {
    0%{
       transform: translateX(10%) translateY(10%);
    }

    100%{
        transform: translateX(-10%) translateY(-10%);
    }
}
.tubeTV {
    background-color: rgb(25, 25, 30);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
    -1px -1px rgba(0, 255, 255, 0.4);
    position: relative;
    &:before,
    &:after {
        content: "";
        transform: translateZ(0);
        pointer-events: none;
    //opacity: 0.5;
        mix-blend-mode: overlay;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 12;
    }

    &:before {
        background: repeating-linear-gradient(
                var(--crt-red) 0px,
                var(--crt-green) 2px,
                var(--crt-blue) 4px
        );
    }
    &:after {
        background: repeating-linear-gradient(
                90deg,
                var(--crt-red) 1px,
                var(--crt-green) 2px,
                var(--crt-blue) 3px
        );
    }
}