* {
    box-sizing: border-box;
    background-color: #1E1E1E;
}
body{
    opacity: 0;
    transition: opacity .5s;
}
header{
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 4vw;
}

.Wrapper{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5%;
    padding-right: 20%;
}
#nav{
    display: inline-block;
    text-align: right;
    font-size: 3vw;
    font-family: "JetBrains Mono", monospace;
    color: white;
}



.dropdown{
    position: relative;
}

.dropdownContent{
    /*display: none;*/
    font-size: 2vw;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out, max-height 0.2s ease, transform 0.2s ease-in-out;

}
.dropdownContent:hover{
    text-decoration: underline;
    transform: scale(0.95)
}
.dropdown:hover .dropdownContent{
    /*display: block;*/
    cursor: pointer;
    opacity: 1;
    max-height:100%;

}

.clickLink{
    transition: all .2s ease-in-out;
    display: inline-block;
}
.clickLink:hover, .clickLink:hover span{
    text-decoration: underline;
    transform: scale(0.9);
    cursor:pointer;
}

.person{
    display: inline-block;
}
.person img{
    margin-left: 60%;
    position: relative;
    width: 100%;
    height: auto;

}