.root{
    --crt-red: rgb(218, 49, 49);
    --crt-green: rgb(112, 159, 115);
    --crt-blue: rgb(40, 129, 206);
}
* {
    box-sizing: border-box;
    background-color: #1E1E1E;
}
body{
    opacity: 0;
    transition: opacity .5s;
}

img{
    display: block;
    margin: auto;
    max-width: 40%;
    height: auto;
}

p{
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 2vw;
    user-select: none;
}

.fuzzyOverlay{
    position: absolute;
    inset: -200%;
    background-image: url("white-noise-screen.png");
    opacity: 2%;
    z-index: 10;
    pointer-events: none;

    animation: shift 0.2s linear infinite both;
}

.lines{
    position: absolute;
    inset: -200%;
    background-image: url("1.png");
    background-size: cover;
    opacity: 5%;
    z-index: 11;
    pointer-events: none;

    animation: shift 1.5s linear infinite forwards;
}

@keyframes shift {
    0%{
        transform: translateX(10%) translateY(10%);
    }

    100%{
        transform: translateX(-10%) translateY(-10%);
    }
}

.glitchText{
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-size: 2vw;
    user-select: none;
    animation: glitch 1s linear infinite;
    position: relative;
    display: inline-block;
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}
.glitchWrapper{
    text-align: center;
    width: 100%;

}
.glitchText:before,
.glitchText:after{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.glitchText:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
}

.glitchText:after{
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}

.tubeTV {
    background-color: rgb(25, 25, 30);
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
    -1px -1px rgba(0, 255, 255, 0.4);
    position: relative;
    &:before,
    &:after {
        content: "";
        transform: translateZ(0);
        pointer-events: none;
    //opacity: 0.5;
        mix-blend-mode: overlay;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 12;
    }

    &:before {
        background: repeating-linear-gradient(
                var(--crt-red) 0px,
                var(--crt-green) 2px,
                var(--crt-blue) 4px
        );
    }
    &:after {
        background: repeating-linear-gradient(
                90deg,
                var(--crt-red) 1px,
                var(--crt-green) 2px,
                var(--crt-blue) 3px
        );
    }
}

