h1{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 390%;
    text-align: center;
    background-color: #1E1E1E;

}
.clickLink{
    transition: all .2s ease-in-out;
    display: inline-block;
}
a:hover, .clickLink:hover span, .clickLink:hover,.tabs:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(0.9);
}

body{
    background-color: #1E1E1E;
    font-family: "JetBrains Mono", monospace;
    opacity: 0;
    transition: opacity .5s;

}
p{
    color : white;
    font-family: "JetBrains Mono", monospace;
    text-align: right;
    font-size: 377%;
    padding-right: 3%;
    position: absolute;
    left: 60%;
}
#wrapper {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    max-height: 1920px;
    position: absolute;
    left: 1%;
    top: -10%
}

.tabs{
    position: relative;
    display: inline-block;
    transition: top 0.4s ease, left 0.4s ease, transform 0.4s ease;
    cursor: pointer;
    width: 20%;
    height: auto;
    overflow: hidden;

}


.tabs img{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: cover;

}

.overlayText{
    position: absolute;
    top: 55%;
    left: 45%;
    font-size: 1.5em;
    font-family: "JetBrains Mono", monospace;
    z-index: 11;
    pointer-events: none;
}

#folder{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#tab1{
    top: 43%;
    left: 75%;

}
