h1{
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 96px;
  text-align: center;
  background-color: #1E1E1E;

}
.clickLink{
  transition: all .2s ease-in-out;
  display: inline-block;
}
a:hover, .clickLink:hover span, .clickLink:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(0.9);
}

body{
  background-color: #1E1E1E;
  font-family: "JetBrains Mono", monospace;
  opacity: 0;
  transition: opacity .5s;
  min-height: 100%;

}
p{
  color : white;
  font-family: "JetBrains Mono", monospace;
  text-align: right;
  font-size: 64px;
  padding-right: 200px;
}
img{
  position: absolute;
  left: -150px;
  top: 50px;


}
.pupils{
  z-index:20;
  left: -160px;

}
.eyes{
  z-index: 10;
  left: 225px;
  top: 179px;
}
#person{
  z-index: 30;
}
#scary{
  visibility: hidden;
}

#imgs{
  overflow: hidden
}